@page "/Team/{Id:long}"

<PageTitle>Doctor Details</PageTitle>

@if (employee is null)
{
    <Loader /> <!-- Display loader while data is being fetched -->
}
else
{    <!-- Doctor details section -->
    <div class="doctor-details">
        <!-- Back navigation -->
        <div class="back" @onclick="GoBack">
            <img src="/images/chevron-left.svg" alt="chevron-left" />
            <span>Terug</span>
        </div>

        <!-- Doctor's name header -->
        <div class="header">
            <h3>@employee.Lastname @employee.Firstname</h3>
                @if (admin)
                {
                    <!-- Edit button for admin users -->
                    <img class="edit" @onclick="NavigateToEditEmployee" src="./images/edit-3.svg" alt="edit" title="Wijzig medewerker" />
                }
        </div>

        <!-- Doctor's information content -->
        <div class="content">
            <img src="@employee.Image" alt="Doctor's Image" />
            <div class="right-col">
                <!-- Doctor's biography -->
               <div class="biography">
                    <h5>Biografie</h5>
                    <div class="accordion">
                        <div class="@ContentClass">
                            @if (bio is not null)
                            {
                                <p>@bio.Info</p>
                            }
                            else
                            {
                                <p>Geen biografie beschikbaar.</p>
                            }
                        </div>
                        <img class="accordion-toggle" @onclick="ToggleAccordion" src="@ChevronImage" alt="Toggle" />
                    </div>
                </div>

                <!-- Working hours schedule -->
                <div class="work-hours">
                    <h5>
                        Weekuren
                    </h5>
                    @if (employee.Availabilities is not null)
                    {
                       <ul>
                            @foreach (var day in employee.Availabilities)
                            {
                                // Determine the start and end of the current week
                                var today = DateTime.Today;
                                var startOfWeek = today.AddDays(-(int)today.DayOfWeek + (int)DayOfWeek.Monday);
                                var endOfWeek = startOfWeek.AddDays(6);

                                // Check if the start date of the availability is within this week
                                if (day.StartDate.Date >= startOfWeek.Date && day.StartDate.Date <= endOfWeek.Date)
                                {
                                    <li>
                                        <span>@day.StartDate.ToString("ddd dd/MM/yyyy")</span>
                                        <span>
                                            <span class="hour">@day.StartDate.ToString("HH:mm")</span>
                                            <span>-</span>
                                            <span class="hour">@day.EndDate.ToString("HH:mm")</span>
                                        </span>
                                    </li>
                                }
                            }
                        </ul>

                    } else
                    {
                        <p>Geen werkuren beschikbaar.</p>
                    }

                </div>
            </div>
        </div>
        <Footer />
    </div>
}
