@page "/Team/{Id:int}"

<PageTitle>Doctor Details</PageTitle>

<div class="doctor-details">
    <div class="header">
        <h3>Persoons Gegevens</h3>
        <button @onclick="MakeAppointment">Afspraak maken</button>
    </div>
    <div class="content">
        <img src="@images[Id]" />
        <div class="right-col">
            <h3>@function[Id]</h3>
            <p>@name[Id]</p>
            <div class="work-hours">
                    <ul>
                        @foreach (var day in predefinedDays)
                        {
                        var workHour = GetWorkHoursForDay(Id, day);
                        <li>
                            <span>@day</span>
                            <span>
                                <span class="hour">@workHour.StartHour</span>
                                <span>-</span>
                                <span class="hour">@workHour.EndHour</span>
                            </span>
                        </li>
                        }
                    </ul>

            </div>
        </div>
    </div>
</div>

