@page "/Team"

<PageTitle>Team</PageTitle>

<div class="team">
	<svg class="bg-circle" width="529" height="504" viewBox="0 0 529 504" fill="none" xmlns="http://www.w3.org/2000/svg">
		<ellipse cx="264.5" cy="252" rx="264.5" ry="252" fill="#D8F7F7" />
	</svg>
	<svg class="bg-circle" width="234" height="235" viewBox="0 0 234 235" fill="none" xmlns="http://www.w3.org/2000/svg">
		<ellipse cx="117" cy="117.5" rx="117" ry="117.5" fill="#C4F1F1" />
	</svg>
	<div class="team header">
		<h3>Ons Team</h3>
		<p>
			Onze ervaren team van oogartsen zijn gepassioneerd en toegewijd aan uw visuele gezondheid. Of het nu gaat om een eenvoudige controle of een complexe procedure, vertrouw op onze experts voor hoogwaardige zorg en een heldere, gezonde visie.
		</p>
	</div>
	<div class="doctors flex">
		<h4>Gespecialiseerden</h4>
		<div class="team specialisation flex">
			@for (int i = 0; i <= 4; i++)
			{
				<TeamMemberCard ImageUrl="@Images[i]" Function="@Function[i]" Name="@Name[i]" Id="@i"/>
			}
		</div>
		<svg class="doctor-bg-circle" xmlns="http://www.w3.org/2000/svg" width="205" height="205" viewBox="0 0 205 205" fill="none">
			<circle cx="102.5" cy="102.5" r="102.5" fill="#C8EDED" />
		</svg>
		<svg class="doctor-bg-circle" xmlns="http://www.w3.org/2000/svg" width="85" height="84" viewBox="0 0 85 84" fill="none">
			<ellipse cx="42.5" cy="42" rx="42.5" ry="42" fill="#DAF7F7" />
		</svg>
	</div>
	<div class="doctors flex">
		<h4>Assistenten</h4>
		<div class="team specialisation flex">
			@for (int i = 1; i <= 4; i++)
			{
				<TeamMemberCard ImageUrl="@Images[i]" Function="@Function[i]" Name="@Name[i]" Id="@i" />
			}
		</div>
		<svg class="doctor-bg-circle" xmlns="http://www.w3.org/2000/svg" width="205" height="205" viewBox="0 0 205 205" fill="none">
			<circle cx="102.5" cy="102.5" r="102.5" fill="#C8EDED" />
		</svg>
		<svg class="doctor-bg-circle" xmlns="http://www.w3.org/2000/svg" width="85" height="84" viewBox="0 0 85 84" fill="none">
			<ellipse cx="42.5" cy="42" rx="42.5" ry="42" fill="#DAF7F7" />
		</svg>
	</div>
	<div class="doctors flex">
		<h4>Secretariaat</h4>
		<div class="team specialisation flex">
			@for (int i = 0; i <= 4; i+=2)
			{
				<TeamMemberCard ImageUrl="@Images[i]" Function="@Function[i]" Name="@Name[i]" Id="@i"/>
			}
		</div>
		<svg class="doctor-bg-circle" xmlns="http://www.w3.org/2000/svg" width="205" height="205" viewBox="0 0 205 205" fill="none">
			<circle cx="102.5" cy="102.5" r="102.5" fill="#C8EDED" />
		</svg>
		<svg class="doctor-bg-circle" xmlns="http://www.w3.org/2000/svg" width="85" height="84" viewBox="0 0 85 84" fill="none">
			<ellipse cx="42.5" cy="42" rx="42.5" ry="42" fill="#DAF7F7" />
		</svg>
	</div>
</div>
