<div class="oogaandoening">
	<div class="afbeelding">
        <img src="@EyeCondition.ImageUrl" alt="@EyeCondition.Name" title="@EyeCondition.Name" />
	</div>
	<div class="content">
		<div class="text">
 			<h5>@EyeCondition.Name</h5>
			<p>@EyeCondition.Description</p>
		</div>
		@if (IsAdmin)
		{
			<div class="buttons">
				<button class="edit_button" @onclick="OpenInfo">
					<img src="./images/edit-2.svg" alt="edit button" title="Edit Oogaandoening" />
				</button>
				<button class="delete_button" @onclick="RequestDelete">
					<img src="./images/trash-2.svg" alt="delete button" title="Delete Oogaandoening" />
				</button>
			</div>
		}
		<button @onclick="NavigateToDetail">LEES MEER</button>
	</div>
</div>
